<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionStringWebEscola" connectionString="Server=DESKTOP-81MLLQ0\SQLEXPRESS;Database=EducacaoNutricional;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringPortal" connectionString="Server=sql7001.site4now.net;Database=DB_A2C9AB_PortalEducacaoProd;User Id=DB_A2C9AB_PortalEducacaoProd_admin;Password=#brEr-t2!;" providerName="System.Data.SqlClient" />
                                                        
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>