<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="escolaID" value="8"/>
    <add key="hostRetorno" value="https://localhost:44356/Cantina/CreateCliente"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=sql7001.site4now.net;Database=DB_A2C9AB_PortalEducacaoProd;User Id=DB_A2C9AB_PortalEducacaoProd_admin;Password=#brEr-t2!;" providerName="System.Data.SqlClient" />
    
    <!--<add name="ConnectionString" connectionString="Server=.\SQLEXPRESS;Database=PORTALEDUCACIONAL;Trusted_Connection=True;MultipleActiveResultSets=true" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>