@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Epta Software</strong><br />
    Av. da Liberdade, 8 - Jardim Alvorada, São José dos Campos - SP, 12240-550<br />
    <abbr title="Phone">Telefone:</abbr>
    
</address>

<address>
    <strong>Suporte:</strong> <a href="mailto:suporte@epta.com.br">suporte@epta.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@epta.com.br">marketing@epta.com.br</a>
</address>
