@{
    ViewData["Title"] = "Desativar a autenticação de dois fatores (2FA)";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>This action only disables 2FA.</strong>
    </p>
    <p>
        A desativação do 2FA não altera as chaves usadas nos aplicativos de autenticação. Se você deseja alterar a chave
        usado em um aplicativo de autenticação, você deve <a asp-action="ResetAuthenticatorWarning">edefinir seu
         chaves do autenticador.</a>
    </p>
</div>

<div>
    <form asp-action="Disable2fa" method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Desativar 2FA</button>
    </form>
</div>
